* {
  	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
}

/* ---- Slider ---- */
.slider-container {
  	padding: 5%;
  	border: 2px solid lightblue;
}

.slider-item {
  	padding: 1rem;
  	border: 2px solid orange;
}